In [29]:
import pandas as pd
import numpy as np

# Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [30]:
categorical = pd.read_csv('categorical.csv') 
categorical.head()

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [31]:
numerical = pd.read_csv('numerical.csv') 
numerical.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [32]:
data = pd.concat([numerical, categorical], axis = 1)

In [33]:
data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,Washington,No,...,2/24/11,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,6979.535903,0,94,13,42,0,8,1131.464935,Arizona,No,...,1/31/11,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,Nevada,No,...,2/19/11,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,California,No,...,1/20/11,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,Washington,No,...,2/3/11,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,California,No,...,2/10/11,Employed,M,Urban,Married,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,California,Yes,...,2/12/11,Employed,F,Suburban,Divorced,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,California,No,...,2/6/11,Unemployed,M,Suburban,Single,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,California,No,...,2/3/11,Employed,M,Suburban,Married,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,California,No,...,2/14/11,Unemployed,M,Suburban,Single,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

# In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [34]:
from sklearn.model_selection import train_test_split

X = data.drop(['total_claim_amount'],axis=1)
y = data['total_claim_amount']

# Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

# Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [36]:
numericals_train = X_train.select_dtypes(np.number)
numericals_test = X_test.select_dtypes(np.number)
numericals_train.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
7706,3265.156348,25820,82,10,69,0,1
779,11318.130830,79270,95,28,61,3,2
8189,6274.447705,13662,85,29,37,0,3
1942,4297.189057,66331,107,0,74,0,1
459,10110.778180,15752,90,27,37,0,2

In [37]:
y_train.head()

7706    393.600000
779     456.000000
8189    408.000000
1942    513.600000
459     339.344531
Name: total_claim_amount, dtype: float64

In [38]:
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(numericals_train)
numericals_train_standardized = transformer.transform(numericals_train)
numericals_test_standardized = transformer.transform(numericals_test)
#X_normalized = pd.DataFrame(X_normalized, columns=X_num.columns)


#transformer = StandardScaler().fit(numericals_train)
#numericals_train_standardized = transformer.transform(numericals_train)
#numericals_test_standardized = transformer.transform(numericals_test)

In [39]:
numericals_train_standardized.shape

(7307, 7)

In [40]:
numericals_test_standardized.shape

(1827, 7)

# Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

In [13]:
categoricals_traint= X_train.select_dtypes(object)
categoricals_train1 = categoricals_traint[['state', 'marital_status', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'employmentstatus', 'location_code']]
categoricals_train2 = categoricals_traint[['coverage', 'vehicle_size']]
categoricals_traint.shape

(7307, 14)

In [14]:
categoricals_testt= X_test.select_dtypes(object)
categoricals_test1=categoricals_testt[['state', 'marital_status', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'employmentstatus', 'location_code']]

categoricals_test2=categoricals_testt[['coverage', 'vehicle_size']]

categoricals_testt.shape

(1827, 14)

In [15]:
#I've decide to One Hot encode employmentstatus and location_code because I don't see a proper relation to give them an order

In [16]:
# One Hot

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(categoricals_train1)
categoricals_train1_encoded = encoder.transform(categoricals_train1).toarray()
categoricals_test1_encoded = encoder.transform(categoricals_test1).toarray()

In [17]:
# Ordinal
categoricals_train2["coverage"] = categoricals_train2["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
categoricals_test2["coverage"] = categoricals_test2["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

categoricals_train2["vehicle_size"] = categoricals_train2["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
categoricals_test2["vehicle_size"] = categoricals_test2["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_4998/3750151663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals_train2["coverage"] = categoricals_train2["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_4998/3750151663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals_test2["coverage"] = categoricals_test2["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_4998/3750151663.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals_train2["vehicle_size"] = categoricals_train2["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_4998/3750151663.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals_test2["vehicle_size"] = categoricals_test2["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

In [18]:
categoricals_train2=categoricals_train2.to_numpy()
categoricals_test2=categoricals_test2.to_numpy()

In [19]:
X_train = np.concatenate((numericals_train_standardized,categoricals_train1_encoded,categoricals_train2),axis=1)
X_test = np.concatenate((numericals_test_standardized,categoricals_test1_encoded,categoricals_test2),axis=1)

In [20]:
categoricals_test2.shape

(1827, 2)

In [21]:
X_train

array([[0.01890141, 0.25824907, 0.08860759, ..., 0.        , 0.5       ,
        0.5       ],
       [0.1302372 , 0.79285064, 0.14345992, ..., 0.        , 0.5       ,
        0.5       ],
       [0.06050614, 0.13664596, 0.10126582, ..., 0.        , 0.5       ,
        0.        ],
       ...,
       [0.05087289, 0.11099109, 0.05063291, ..., 0.        , 0.        ,
        0.        ],
       [0.03020436, 0.2321041 , 0.19409283, ..., 0.        , 0.        ,
        1.        ],
       [0.03179872, 0.30603815, 0.18987342, ..., 0.        , 0.        ,
        0.5       ]])

# Try a simple linear regression with all the data to see whether we are getting good results.

In [22]:
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, r2_score

In [23]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [26]:
predictions_test = lm.predict(X_test)
predictions_test

array([339.23145232, 262.68216646,  11.09326726, ..., 382.89321268,
       756.64672341, 222.82455266])

In [27]:
predictions_train = lm.predict(X_train)
predictions_train

array([427.64212766, 515.37984419, 544.99556904, ..., 436.57233561,
       555.46375941, 555.97708706])

In [28]:
#R2
r2 = r2_score(y_test, predictions_test)

print('Test R2 is',r2)

#R2
r2 = r2_score(y_train, predictions_train)

print('Train R2 is',r2)

Test R2 is 0.7696322289432469
Train R2 is 0.7698785835184496

In [ ]:
# Trying without Ordinals

In [41]:
categoricals_train= X_train.select_dtypes(object)
categoricals_test= X_test.select_dtypes(object)

In [42]:
# One Hot

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(categoricals_train)
categoricals_train_encoded = encoder.transform(categoricals_train).toarray()
categoricals_test_encoded = encoder.transform(categoricals_test).toarray()

In [43]:
X_train = np.concatenate((numericals_train_standardized,categoricals_train_encoded),axis=1)
X_test = np.concatenate((numericals_test_standardized,categoricals_test_encoded),axis=1)

In [44]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [45]:
predictions_test = lm.predict(X_test)
predictions_test

array([370.37908358, 267.21803061,  44.04876849, ..., 402.28919143,
       761.18523015, 239.77107538])

In [46]:
predictions_train = lm.predict(X_train)
predictions_train

array([403.25847138, 529.89321112, 547.63882776, ..., 426.1389356 ,
       569.31206355, 566.54010281])

In [47]:
#R2
r2 = r2_score(y_test, predictions_test)

print('Test R2 is',r2)

#R2
r2 = r2_score(y_train, predictions_train)

print('Train R2 is',r2)

Test R2 is 0.7675834339214354
Train R2 is 0.7747103961686558

# Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

# Use the function to check LinearRegressor and KNeighborsRegressor.


# You can check also the MLPRegressor for this task!

In [64]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import datasets
from sklearn import metrics
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

In [72]:
def models_train_test(k):

    # Linear Regression

    # Fitting and training the model
    lm = linear_model.LinearRegression()
    lm.fit(X_train,y_train)
    # Predictions on TRAIN data and R2 score 
    lm_train_predictions = lm.predict(X_train)
    lm_train_r2 = r2_score(y_train, lm_train_predictions)
    # Predictions on TEST data and R2 score
    lm_test_predictions = lm.predict(X_test)
    lm_test_r2 = r2_score(y_test, lm_test_predictions)


    #KNeigbhours

    # Fitting and training the model
    knm = KNeighborsRegressor(n_neighbors=k)
    knm.fit(X_train, y_train)
    # Predictions on TRAIN data and score 
    kn_train_score = knm.score(X_train, y_train)
    # Predictions on TEST data and score
    kn_test_predictions = knm.predict(X_test)
    kn_test_score = knm.score(X_test, y_test)


    #MLP Regressor

    # Fitting and training the model
    mlp = MLPRegressor(hidden_layer_sizes=(50, 50))
    mlp.fit(X_train, y_train)

    # Predictions on TEST data and score
    mlp_test_predictions = mlp.predict(X_test)
    mlp_test_score = r2_score(y_test,mlp_test_predictions)


    return lm_test_r2, kn_test_score, k, mlp_test_score

In [80]:
lm_test_r2, kn_test_score, k, mlp_test_score = models_train_test(10)
print('R2 is' ,lm_test_r2, 'Kn score is', kn_test_score, 'K', k, 'Mlp score is', mlp_test_score)

R2 is 0.7675834339214354 Kn score is 0.5483362029735472 K 10 Mlp score is 0.8388662089047807

/Users/juan/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [81]:
#After trying in different ways, MLP model is the one performing better